body {
    width: 640px;
    margin: auto;
    text-align: center;
}

#sunburst {
    width: 100%;
}

#map,
#legend {
    width: 49%;
    display: inline-block;
}

.highlight path {
    stroke: #000;
    stroke-width: 2px;
}

.label path {
    fill: #000;
}

.label.highlight path {
    fill: #fff;
}

.label text {
    fill: #fff;
    stroke: none;
    font-size: 14px;
}

.label.highlight text {
    fill: #000;
}

#map path.country {
	fill: #eee;
}

#map path.country.active {
	fill: #ccc;
}

#map path.country.active:hover {
	fill: #aaa;
}